html {
    font-size: 62.5%;
    color: var(--ice-white);
}

body {
    font-family: var(--font-medium);
    font-size: 1rem;
}

.display-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.decorative-arrabesco {
    margin-top: 2rem;
}

