.header-section {
    background: url('../src/images/header-background-mobile.png') no-repeat;
    background-size: cover;
    width: var(--mobile-width);
    height: 250px;
}

.logo-box .logo {
    margin-top: 3rem;
    height: 45px;
}