.ingredient-title {
    align-items: center;
    justify-content: center;
}

.ingredient-text-image {
    height: 60px;
}

.ingredient-text {
    flex-direction: column;
    margin: 1.5rem 0;
    font-size: 2.4rem;
    gap: .6rem;
}

.ingredient-text span {
    color: var(--reverse-color);
}