.main-section {
    width: var(--mobile-width);
    flex-direction: column;
    padding: var(--mobile-padding);
    text-align: center;
    width: 100%;
}

.main-title {
    font-size: var(--h1-size);
    font-family: var(--font-bold);
}

.main-description {
    font-family: var(--font-regular);
    font-size: 1.8rem;
    color: var(--medium-silver);
    margin-top: .5rem;
}

@media(min-width: 450px) {
    .main-title {
        font-size: 5.2rem;
    }
    
    .main-description {
        font-size: 2.1rem;
    }
}