.main-section {
    background-color: cadetblue;
    width: var(--mobile-width);
    flex-direction: column;
    padding: var(--mobile-padding);
    text-align: center;
}

.main-section .title {
    font-size: var(--h1-size);
    font-family: var(--font-bold);
}

.main-section .description {
    font-family: var(--font-regular);
    font-size: 1.8rem;
    color: var(--medium-silver);
    margin-top: .5rem;
}