.responsive {
    width: var(--total-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 768px) {
    .responsive {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .main-section,
    .responsive {
        max-width: 1080px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}