.section {
    flex-direction: column;
    width: var(--mobile-width);
    padding: var(--mobile-padding);
}

.section-ideal {
    margin: 2rem 0 1.1rem 0;
    flex-direction: column;
    text-align: center;
}

@media(min-width: 380px) {
    .section {
        width: 380px;
    }
}

@media(min-width: 450px) {
    .section {
        width: 450px;
    }
}

@media(min-width: 620px) {
    .section {
        width: 620px;
    }
}

@media(min-width: 768px) {
    .section {
        width: 45%;
    }
}