.decorative-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 0;
}

.image-decorated-box {
    position: relative;
    display: flex;
    align-items: center;
}

.image-decorated-box .image {
    height: 95px;
}

.image-decorated-box .decorative-top,
.image-decorated-box .decorative-bottom {
    background-color: var(--medium-silver);
    width: 138px;
    height: 5px;
    position: absolute;
    left: 2px;
}

.image-decorated-box .decorative-bottom {
    top: 0px;
}

.image-decorated-box .decorative-top {
    bottom: 0px;
}

.image-decorated-box .decorative-left,
.image-decorated-box .decorative-right {
    height: 130px;
}

.image-decorated-box .decorative-right {
    transform: rotate(180deg);
}