.statistics {
    flex-direction: column;
    text-align: center;
}

.statistics .statistics-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.text-name, .statistic-amount {
    font-size: 2rem;
}

.statistic-amount {
    color: var(--reverse-color);
}

.dano, .sinal, .adicional {
    justify-content: space-between;
    margin-top: 3px;
    border: 1px #cacaca solid;
    padding: .4rem 1rem;
}

