.steel-section {
    flex-direction: column;
    width: var(--mobile-width);
    padding: var(--mobile-padding);
}

.section-ideal {
    margin: 2rem 0 1.1rem 0;
    flex-direction: column;
    text-align: center;
}

.section-ideal .creature-name {
    font-size: var(--h3-size);
    font-family: var(--font-bold);
    margin-top: 1.5rem;
}