:root {
    --font-bold: FFGoodPro-Bold;
    --font-light: FFGoodPro-Light;
    --font-medium: FFGoodPro-Medium;
    --font-regular: FFGoodPro-Regular;

    --ice-white: #F2F9F8;
    --reverse-color: #E1A735;
    --medium-silver: #CACACA;

    --h1-size: 45px;
    --h2-size: 35px;
    --h3-size: 30px;

    --mobile-width: 350px;
    --mobile-padding: 1.8rem;
}